
<td id='tab20100', valign='top'>

<div id="sidebar">


 
 
[% description %]

<div id='message'> [% message | html %] </div>

</div>
</td><td id='tab4050'>

 [% text %]
 
  [% form.render %]

 

</tr><tr>