
<h3> Welcome to the LabBook Registration </h3>

<p> Please read our <a href=[%c.uri_for('/terms_and_conditions') %]>Terms and Conditions</a> before you create an account. </p>

[% FormBuilder.render %]

